<ion-view title="Oraciones" id="oraciones_index">
    <ion-content padding="true" class="has-header">
        <h3 id="oraciones-heading2" style="color:#000000;">Propias</h3>
        <a ui-sref="jaculatoria({template: 'sanmiguel', title: 'Oración a San Miguel'})" id="oraciones-button16" style="text-align:left;"
           class="button button-dark button-small button-block button-clear">San Miguel Arcangel</a>
        <a ui-sref="jaculatoria({template: 'mariaauxiliadora', title: 'Oración a María Auxiliadora'})" id="oraciones-button22" style="text-align:left;"
           class="button button-dark button-small button-block button-clear">María Auxiliadora</a>
        <h3 id="oraciones-heading3" style="color:#000000;">Comunes</h3>
        <a ui-sref="jaculatoria({template: 'padrenuestro', title: 'Padre Nuestro'})"
           id="oraciones-button23" style="text-align:left;"
           class="button button-dark button-small button-block button-clear">Padre Nuestro</a>
        <a ui-sref="jaculatoria({template: 'avemaria', title: 'Ave María'})"
           id="oraciones-button24" style="text-align:left;"
           class="button button-dark button-small button-block button-clear">Ave María</a>
        <a ui-sref="jaculatoria({template: 'gloria', title: 'Gloria'})"
           id="oraciones-button25" style="text-align:left;"
           class="button button-dark button-small button-block button-clear">Gloria</a>
    </ion-content>
</ion-view>
